{% extends "layout.html" %}

{% set mainClasses = "govuk-main-wrapper--l" %}

{% block content %}
<a class="govuk-back-link" href="javascript:history.back()">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
            Search results for "{{ searchTerm }}"
        </h1>

        <table class="govuk-table" aria-label="Search results">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Barcode</th>
              <th scope="col" class="govuk-table__header">Allocated to</th>
              <th scope="col" class="govuk-table__header">Company number</th>
              <th scope="col" class="govuk-table__header">Type</th>
              <th scope="col" class="govuk-table__header">CHIPS Status</th>
              <th scope="col" class="govuk-table__header">FES Status</th>
              <th scope="col" class="govuk-table__header">Location</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">

          {% for result in results %}
            <div class="govuk-grid-column-full-width">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                      <a href="search?search={{result.Barcode}}" class="govuk-link">
                        {{ result.Barcode }}
                      </a>
                  </td>
                  <td class="govuk-table__cell">{{ result.User }}</td>
                  <td class="govuk-table__cell">{{ result.CoNumb }}</td>
                  <td class="govuk-table__cell">{{ result.Type }}</td>
                  <td class="govuk-table__cell">{{ result.ChipsStatus }}</td>
                  <td class="govuk-table__cell">{{ result.FESStatus }}</td>
                  <td class="govuk-table__cell">{{ result.Location }}</td>
              </tr>
            </div>
          {% endfor %}
          </tbody>
      </table>
    </div>
  </div>
{% endblock %}