{% extends "layout.html" %}

{% block content %}
    <div class="govuk-grid-row">
        <h1 class="govuk-heading-l">Sign in</h1>
        <h2 class="govuk-heading-m">FES Admin System</h2>
        
        <form method="POST" action="/transactionsearch/signin">
            <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" data-required="data-required" data-error="Enter your username">
                <legend>
                <label class="govuk-label" for="username">
                    Username
                </label>
                </legend>
                <input class="govuk-input govuk-!-width-two-thirds" id="username" name="username" type="text" required>
            </fieldset>
            </div>
            <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" data-required="data-required" data-error="Enter your password">
                <legend>
                <label class="govuk-label" for="chs-password">
                    Password
                </label>
                </legend>
                <input class="govuk-input govuk-!-width-two-thirds" id="password" name="password" type="password" required>
            </fieldset>
            </div>
                <input type="submit" class="govuk-button" value="Sign in" />
                {% if error %}
                    <span id="barcode-error" class="govuk-error-message">Email or password not recognised.</span>
                {% endif %}
            </div>
        </form>

        <details class="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    Help with registering
                </span>
            </summary>
            <div class="govuk-details__text">
                A manager must authorise access by raising a request via service now.
            </div>
        </details>

        <details class="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    Forgotten your password?
                </span>
            </summary>
            <div class="govuk-details__text">
                The front end support team will be able to help. They are available 9 - 5, Monday - Friday.
            </div>
        </details>
    </div>
{% endblock %}